{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:json/recommended"
  ],
  "plugins": ["n"],
  "rules": {
    "unicorn/no-abusive-eslint-disable": "warn",
    "unicorn/expiring-todo-comments": "off",
    "node/no-missing-import": "off",
    "n/no-missing-import": ["error", {
      "tryExtensions": [".js", ".json", ".ts", ".d.ts"]
    }]
  },
  "settings": {
    "n": {
      "tryExtensions": [".js", ".json", ".ts", ".d.ts"]
    }
  }
}
